{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}NetDeals{% endblock title %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

    <div class="container px-4">
        <nav class="navbar px-4" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'core:home' %}">
                    <h1><strong>NetDeals</strong></h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item" href="{% url 'core:home' %}">
                    Home
                </a>
                
                {% for category in categories %}
                    <a class="navbar-item" href="{% url 'product:category' category.slug %}">
                        {{category.title}}
                    </a>
                {% endfor %}

                

                </div>

                <div class="navbar-start">
                    <div class="navbar-item">
                        <form method="get" action="{% url 'product:search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="search" name="query" id="" class="input" placeholder="Search...">
                                </div>
                                <div class="control">
                                    <button class="button is-dark is-uppercase">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="navbar-end">

                <div class="navbar-item">
                    <a href="{% url 'cart:cart' %}" class="button is-warning">Cart {% if cart %}({{cart|length}}){% endif %}</a>
                </div>
                
                {% if user.role == 'seller' %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-capitalized">
                    {{user.seller.name}}
                    </a>

                    <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'seller:seller-dashboard' %}">
                        Profile
                    </a>
                    <a class="navbar-item" href="{% url 'seller:edit-seller' %}">
                        Update Profile
                    </a>
                    <a class="navbar-item" href="{% url 'seller:add-product' %}">
                        Add Product
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'seller:logout' %}">
                        Logout
                    </a>
                    </div>
                </div>

                {% elif user.role == 'buyer' %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-capitalized">
                    {{user.seller.name}}
                    </a>
                    <!-- All of these need to be updated! new pages will need to be made in templates pages -->
                    <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'seller:seller-dashboard' %}">
                        Order History
                    </a>
                    <a class="navbar-item" href="{% url 'buyer:edit-buyer' %}">
                        Update Profile
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'seller:logout' %}">
                        Logout
                    </a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'buyer:become-buyer' %}">
                            <strong>Become Buyer</strong>
                        </a>
                        <a class="button is-primary" href="{% url 'seller:become-seller' %}">
                            <strong>Become Seller</strong>
                        </a>
                        <a class="button is-light" href="{% url 'core:login' %}">
                            Log in
                        </a>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>
            </nav>
    </div>

    <style>
       .navbar {
        background-color: #f5f5f5; /* Soft color */
        border-radius: 1rem 1rem 0 0;
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
        }

        .navbar .input {
        width: 400px; /* Longer search bar */
        }

        .navbar .field.has-addons {
        width: 100%;
        } 
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .main-content-wrapper {
            flex-grow: 1;
        }
        .footer {
            background-color: #f0f0f0; /* Soft gray color */
            padding: 1rem 0; /* Add some padding for better appearance */
        }
    </style>

    <section class="section">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </section>
    <div class="main-content-wrapper">
        <section class="section">
            <div class="container">
                {% block content2 %}{% endblock content2 %}
            </div>
        </section>
    </div>
    
    <footer class="footer">
        <div class="container">
            <h3 class="is-size-4 mb-4">NetDeals</h3>
            
            {% if user.role == 'seller' %}
                <a href="{% url 'seller:seller-dashboard' %}">Seller Dashboard</a>
           
            {% endif %}

            <br>
            <a href="{% url 'seller:sellers' %}">All Sellers</a>

        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>