{% extends 'core/base.html' %}

<!-- templates/registration/password_reset_form.html -->

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <br>registration folder</br>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <input type="submit" value="Send me instructions!"> -->
    <button class="button is-dark is-uppercase">Submit</button>
  </form>
{% endblock %}

<!----

    <form method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}
        
        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Submit</button>
            </div>
        </div>
    </form>
--->
